{% extends 'store_app/base.html' %}

{% block content %}

<div class="container">
    <div class="col-11 col-md-6 mx-auto">
        <div class="card shadow p-3 border-0 my-4">
            <h4>User Profile</h4> <a href="{% url 'profile-update' %}">update</a>
            <img src="{{ user.profile.image.url }}" alt="">
            <a href="{% url 'password-change' %}">Change Password</a>
            <div class="card-body">
                <p>{{ user.username }}</p>
                <p>{{ user.first_name }}</p>
                <p>{{ user.profile.dob }}</p>
            </div>
        </div>
    </div>
    <p>footer</p>
</div>
{% endblock content %}